<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key><string>TradeGateway</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key><string>com.tradegateway.ngswtp</string>
    <key>CFBundleName</key><string>tradegateway</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleVersion</key><string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>NSCameraUsageDescription</key><string>TradeGateway uses the camera to scan trade documents.</string>
    <key>NSFaceIDUsageDescription</key><string>TradeGateway uses Face ID for secure login.</string>
    <key>UILaunchStoryboardName</key><string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key><string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array><string>UIInterfaceOrientationPortrait</string></array>
    <key>NSAppTransportSecurity</key>
    <dict><key>NSAllowsArbitraryLoads</key><false/></dict>
</dict>
</plist>
